{% extends 'booking/layout.html' %}

{% block body %}

<div class="container navbar-padding">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Account</h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Bookings</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
        {% block sidebar %}
            {% include 'booking/sidebar.html' %}
        {% endblock sidebar %}

        <!-- Content Column -->
        <div class="col-lg-9 p-2">
            <div id="bookings">
                <h5 class="letter-spacing pl-3">Bookings</h5>
                {% for item in bookings %}
                <div class="media booked-item">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{ item.listing.title }}</h5>
                        <div class="text-muted"><i class="fas fa-map-marker-alt mr-2"></i>{{ item.listing.location }}</div>
                        <div class="text-muted"><i class="far fa-calendar-alt mr-2"></i>{{ item.formatted_date }}</div>
                        <div class="text-muted"><i class="far fa-user mr-2"></i>{{ item.quantity }} person(s)</div>
                        <div class="bold-black">US$ {{ item.get_total }}</div>
                        <div class="bold-green">Booking confirmed</div>
                        <button class="btn btn-outline-success mt-2">View e-Voucher</button>
                    </div>
                    <img class="ml-3" src="{{ item.listing.image_url }}" alt="Generic placeholder image">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

{% endblock %}