{% extends 'booking/layout.html' %}

{% block header %}
<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active"
                style="background-image: url('https://images.unsplash.com/photo-1602989988967-6d763203bcbf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1266&q=80')">
            </div>
            <div class="carousel-item"
                style="background-image: url('https://images.unsplash.com/photo-1603463262427-86b6e34fb077?ixlib=rb-1.2.1&auto=format&fit=crop&w=1490&q=80')">
            </div>
            <!-- <div class="carousel-item"
                style="background-image: url('https://images.unsplash.com/photo-1518950957614-73ac0a001408?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1481&q=80')">
            </div> -->
        </div>
    </div>
</header>
{% endblock %}


{% block headerText %}
<div class="header-wrapper">
    <div class="container">
        <div class="header-title">Explore Indonesia</div>
        <!-- <div class="header-subtitle">Discover and book amazing adventures at exclusive price</div> -->
    </div>
</div>
{% endblock %}


{% block body %}
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Explore Indonesia
        <small>Subheading</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Blog Home 1</li>
    </ol>

    <div class="row">
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card mb-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                    {% if user.is_authenticated and user.is_staff == True %}
                    <div class="pt-3 text-center">
                        <a href="">
                            <button class="btn btn-primary">Create Listing</button>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>

            <!-- Categories -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            {% for category in categories %}
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input">
                                <label class="form-check-label">{{ category }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Destinations -->
            <div class="card my-4">
                <h5 class="card-header">Destinations</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            {% for destination in destinations %}
                            <div class="form-check">
                                <input id="{{ destination }}" type="checkbox" class="form-check-input" onclick="filterDestination(this.id)">
                                <label class="form-check-label">{{ destination }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Catalog Column -->
        <div class="col-md-8">

            <!-- Catalog -->
            <div id="allCatalog" class="row">
                {% for listing in listings %}
                <div class="col-lg-4 mb-4 listing {{ listing.location }} {{ listing.get_categories }}">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ listing.image_url }}" alt="">
                        <div class="card-body p-2">
                            <a href="{% url 'catalog_item' listing.id %}" class="stretched-link">
                                <h6 class="card-title">{{ listing.title }}</h6>
                            </a>
                            <h6 class="card-subtitle mb-2 text-muted">{{ listing.location }}</h6>
                            <p class="card-text card-desc"></p>
                        </div>
                        <div class="card-footer text-right p-2">
                            Rp {{ listing.price }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div id="filteredCatalog" class="row" style="display: none;">
            </div>

            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
            </ul>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}