{% extends 'booking/layout.html' %}

{% block header %}
<header class="navbar-padding">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active"
                style="background-image: url('https://images.unsplash.com/photo-1602989988967-6d763203bcbf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1266&q=80')">
            </div>
            <div class="carousel-item"
                style="background-image: url('https://images.unsplash.com/photo-1603463262427-86b6e34fb077?ixlib=rb-1.2.1&auto=format&fit=crop&w=1490&q=80')">
            </div>
            <!-- <div class="carousel-item"
                style="background-image: url('https://images.unsplash.com/photo-1518950957614-73ac0a001408?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1481&q=80')">
            </div> -->
        </div>
    </div>
</header>
{% endblock %}


{% block headerText %}
<div class="header-wrapper">
    <div class="container">
        <div class="header-title">Explore Indonesia</div>
    </div>
</div>
{% endblock %}


{% block body %}
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="border-bottom">
        <h1 class="mt-4 mb-3">Indonesia</h1>
    </div>

    <div class="row">
        <!-- Sidebar Widgets Column -->
        <div class="col-md-3 border-right">
            <div class="pt-3">
                
                <!-- Destinations -->
                <div class="border-bottom pb-3">
                    <h5>Destinations</h5>
                    <div class="pl-3">
                        {% for destination in destinations %}
                        <div class="form-check">
                            <input id="{{ destination }}" type="checkbox" class="form-check-input" onclick="filterDestination(this.id)">
                            <label class="form-check-label">{{ destination }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Categories -->
                <div class="py-3">
                    <h5>Categories</h5>
                    <div class="pl-3">
                        {% for category in categories %}
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label">{{ category }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

        <!-- Catalog Column -->
        <div class="col-md-9">

            <!-- Catalog -->
            <div id="allCatalog" class="row pt-3">
                {% for listing in listings %}
                <div class="col-lg-4 listing {{ listing.location }} {{ listing.get_categories }} card-padding">
                    <div class="card h-100 listing-card">
                        <img class="card-img-top" src="{{ listing.image_url }}" alt="">
                        <div class="card-body p-2">
                            <a href="{% url 'catalog_item' listing.id %}" class="stretched-link">
                                <h6 class="card-title">{{ listing.title }}</h6>
                            </a>
                            <p class="card-subtitle"> <i class="fas fa-map-marker-alt"></i>  {{ listing.location }}</p>
                            <p class="card-text card-desc"></p>
                        </div>
                        <div class="card-footer p-2">
                            US$ {{ listing.price }}<span>/pax</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div id="filteredCatalog" class="row pt-3" style="display: none;">
            </div>

            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
            </ul>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}