{% extends 'booking/layout.html' %}


{% block body %}
<div class="container">

    <!-- Item Picture  -->
    <div class="row item-picture">
        <div class="col-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active"
                        style="background-image: url('{{ listing.image_url }}')">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" >
        <div class="col-lg-8">
            <!-- Breadcrumbs -->
            <div class="mt-2">
                <ol class="breadcrumb" style="background-color: transparent;">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">{{ listing.location }}</a>
                    </li>
                    <li class="breadcrumb-item active">{{ listing.title }}</li>
                </ol>
            </div>

            <!-- Title -->
            <h1 class="title mb-3">{{ listing.title }}</h1>

            <!-- Tabs -->
            <ul id="myTab2" role="tablist" class="nav nav-tabs nav-pills with-arrow lined flex-column flex-sm-row text-center">
                <li class="nav-item flex-sm-fill">
                    <a id="home2-tab" data-toggle="tab" href="#home2" role="tab" aria-controls="home2" aria-selected="true"
                        class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 active">Description</a>
                </li>
                <li class="nav-item flex-sm-fill">
                    <a id="profile2-tab" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile2"
                        aria-selected="false" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0">Details</a>
                </li>
                <li class="nav-item flex-sm-fill">
                    <a id="contact2-tab" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact2"
                        aria-selected="false" class="nav-link text-uppercase font-weight-bold rounded-0">Things to Note</a>
                </li>
            </ul>
            <div id="myTab2Content" class="tab-content">
                <div id="home2" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade px-4 py-5 show active">
                    <p class="item-desc leade font-italic">{{ listing.description }}</p>
                </div>
                <div id="profile2" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-4 py-5">
                    <p class="item-desc leade font-italic">{{ listing.itinerary }}</p>
                </div>
                <div id="contact2" role="tabpanel" aria-labelledby="contact-tab" class="tab-pane fade px-4 py-5">
                    <p class="leade font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        <p class="leade font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p class="leade font-italic mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
        <!-- end of col -->

        <div class="booking-sidebar col-lg-4">
            <div class="card" >
                <div class="card-body">
                    <h3 class="title text-center pb-3">USD {{ listing.price }}</h3>
                    <!-- Date Picker Input -->
                    <div class="form-group mb-4">
                        <div class="datepicker date input-group p-0 shadow-sm">
                            <input type="text" placeholder="Choose a reservation date" class="form-control p-4" id="reservationDate" autocomplete="off">
                            <div class="input-group-append"><span class="input-group-text px-4"><i class="fa fa-clock-o"></i></span></div>
                        </div>
                    </div><!-- End of Date Picker Input -->
                    
                    <!-- Date Confirmation -->
                    <div class="text-center">
                        <p class="font-italic text-muted mb-0">Your reservation day is</p>
                        <h4 id="pickedDate" class="font-weight-bold text-uppercase mb-3">Not set yet</h4>
                        <button data-id="{{ listing.id }}" data-action="add" data-date="" class="update-cart btn btn-primary btn-sm px-4 rounded-pill text-uppercase font-weight-bold shadow-sm">
                            Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!--  end of row -->

    <!-- Related Projects Row -->
    <h3 class="my-4">You might also like</h3>

    <div class="row related-listings">
        {% for listing in related %}
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="{% url 'catalog_item' listing.id %}">
                <div class="hover hover-2 text-white rounded"><img class="related-img img-fluid" src="{{ listing.image_url }}">
                    <div class="hover-overlay"></div>
                    <div class="hover-2-content px-5 py-4">
                        <p class="hover-2-description text-uppercase mb-0">{{ listing.title }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}