{% extends 'booking/layout.html' %}
{% load crispy_forms_tags %}

{% block title %}Checkout{% endblock %}

{% block body %}
<div class="container">
    <!-- HERO SECTION-->
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">Checkout</h1>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="cart.html">Cart</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <!-- BOOKING INFO-->
        <h2 class="h5 text-uppercase mb-4">Booking Details</h2>
        <div class="row">
            <div id="contact-info" class="col-lg-8">
                {% crispy contact_form %}
                <div class="text-center">
                    <button id="form-btn" class="btn btn-primary">Continue</button>
                </div>
                <div id="payment-info" class="hidden">
                    <p>Payment Options</p>
                    <div id="paypal-button-container"></div>
                </div>
            </div>


            <!-- ORDER SUMMARY-->
            <div class="col-lg-4">
                <div class="card border-0 rounded-0 p-lg-4 bg-light">
                    <div class="card-body">
                        <h5 class="text-uppercase mb-4">Your order</h5>
                        <ul class="list-unstyled mb-0">
                            {% for item in items %}
                            <li class="d-flex align-items-center justify-content-between"><strong
                                    class="small font-weight-bold">{{ item.listing.title }}</strong><span
                                    class="text-muted small">USD
                                    {{ item.listing.price }}</span></li>
                            <li class="border-bottom my-2"></li>
                            {% endfor %}
                            <li class="d-flex align-items-center justify-content-between"><strong
                                    class="text-uppercase small font-weight-bold">Total</strong><span>USD
                                    {{ order.get_cart_total }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=Aemt2f0DUOjnp9i2A1Wi5Pbc-Spsk0xtqLcweWtdXg5EVBh0pWKs2P-eIB1vSgiDH4J38-cGteNUHtyw&currency=USD"></script>

<script>
    const total = '{{ order.get_cart_total }}'
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        style: {
            shape: 'pill',
        },

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: parseFloat(total).toFixed(2)
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Process order 
                submitFormData(total)
            });
        }


    }).render('#paypal-button-container');
</script>

<script type="text/javascript">
    const formBtn = document.getElementById('form-btn')

    formBtn.addEventListener('click', function () {
        console.log('Proceed to payment..')
        document.getElementById('form-btn').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })

</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })  
</script>
{% endblock  %}