{% extends 'booking/layout.html' %}
{% load crispy_forms_tags %}

{% block title %}Checkout{% endblock %}

{% block body %}
<div class="container">
    <!-- HERO SECTION-->
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">Checkout</h1>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="cart.html">Cart</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <!-- BOOKING INFO-->
        <h2 class="h5 text-uppercase mb-4">Booking Details</h2>
        <div class="row">
            <div id="contact-info" class="col-lg-8">
                {% crispy contact_form %}
                <div class="text-center">
                    <button id="form-btn" class="btn btn-primary">Continue</button>
                </div>
                <div id="payment-info" class="hidden">
                    <h4>Paypal Options</h4>
                    <div class="">
                        <ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
                            <li class="nav-item">
                              <a data-toggle="pill" href="#nav-tab-card" class="nav-link active rounded-pill">
                                                  <i class="fa fa-credit-card"></i>
                                                  Credit Card
                                              </a>
                            </li>
                            <li class="nav-item">
                              <a data-toggle="pill" href="#nav-tab-paypal" class="nav-link rounded-pill">
                                                  <i class="fa fa-paypal"></i>
                                                  Paypal
                                              </a>
                            </li>
                            <li class="nav-item">
                              <a data-toggle="pill" href="#nav-tab-bank" class="nav-link rounded-pill">
                                                  <i class="fa fa-university"></i>
                                                   Bank Transfer
                                               </a>
                            </li>
                          </ul>
                          <!-- End -->
                  
                  
                          <!-- Credit card form content -->
                          <div class="tab-content">
                  
                            <!-- credit card info-->
                            <div id="nav-tab-card" class="tab-pane fade show active">
                              <p class="alert alert-success">Some text success or error</p>
                              <form role="form">
                                <div class="form-group">
                                  <label for="username">Full name (on the card)</label>
                                  <input type="text" name="username" placeholder="Jason Doe" required class="form-control">
                                </div>
                                <div class="form-group">
                                  <label for="cardNumber">Card number</label>
                                  <div class="input-group">
                                    <input type="text" name="cardNumber" placeholder="Your card number" class="form-control" required>
                                    <div class="input-group-append">
                                      <span class="input-group-text text-muted">
                                                                  <i class="fa fa-cc-visa mx-1"></i>
                                                                  <i class="fa fa-cc-amex mx-1"></i>
                                                                  <i class="fa fa-cc-mastercard mx-1"></i>
                                                              </span>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-sm-8">
                                    <div class="form-group">
                                      <label><span class="hidden-xs">Expiration</span></label>
                                      <div class="input-group">
                                        <input type="number" placeholder="MM" name="" class="form-control" required>
                                        <input type="number" placeholder="YY" name="" class="form-control" required>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-sm-4">
                                    <div class="form-group mb-4">
                                      <label data-toggle="tooltip" title="Three-digits code on the back of your card">CVV
                                                                  <i class="fa fa-question-circle"></i>
                                                              </label>
                                      <input type="text" required class="form-control">
                                    </div>
                                  </div>
                  
                  
                  
                                </div>
                                <button id="make-payment" type="button" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm" onclick="submitFormData()"> Confirm  </button>
                              </form>
                            </div>
                            <!-- End -->
                  
                            <!-- Paypal info -->
                            <div id="nav-tab-paypal" class="tab-pane fade">
                              <p>Paypal is easiest way to pay online</p>
                              <p>
                                <button type="button" class="btn btn-primary rounded-pill"><i class="fa fa-paypal mr-2"></i> Log into my Paypal</button>
                              </p>
                              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              </p>
                            </div>
                            <!-- End -->
                  
                            <!-- bank transfer info -->
                            <div id="nav-tab-bank" class="tab-pane fade">
                              <h6>Bank account details</h6>
                              <dl>
                                <dt>Bank</dt>
                                <dd> THE WORLD BANK</dd>
                              </dl>
                              <dl>
                                <dt>Account number</dt>
                                <dd>7775877975</dd>
                              </dl>
                              <dl>
                                <dt>IBAN</dt>
                                <dd>CZ7775877975656</dd>
                              </dl>
                              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              </p>
                            </div>
                            <!-- End -->
                          </div>
                          <!-- End -->
                    </div>
                </div>
            </div>


            <!-- ORDER SUMMARY-->
            <div class="col-lg-4">
                <div class="card border-0 rounded-0 p-lg-4 bg-light">
                    <div class="card-body">
                        <h5 class="text-uppercase mb-4">Your order</h5>
                        <ul class="list-unstyled mb-0">
                            {% for item in items %}
                            <li class="d-flex align-items-center justify-content-between"><strong
                                    class="small font-weight-bold">{{ item.listing.title }}</strong><span
                                    class="text-muted small">Rp
                                    {{ item.listing.price }}</span></li>
                            <li class="border-bottom my-2"></li>
                            {% endfor %}
                            <li class="d-flex align-items-center justify-content-between"><strong
                                    class="text-uppercase small font-weight-bold">Total</strong><span>Rp
                                    {{ order.get_cart_total }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    const formBtn = document.getElementById('form-btn')

    formBtn.addEventListener('click', function(){
        console.log('Proceed to payment..')
        document.getElementById('form-btn').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })

</script>

<script>
    $(function () {
            $('[data-toggle="tooltip"]').tooltip()
    })  
</script>
{% endblock  %}