{% extends 'booking/layout.html' %}
{% load static %}

{% block header %}
    {% include 'booking/header.html' %}    
{% endblock %}

{% block headerText %}
<div class="index-header-wrapper">
    <div class="container">
        <div class="header-title">Explore Indonesia</div>
        <div class="lead header-subtitle">Discover and book amazing adventures at exclusive price</div>

        <form action="">
            <div class="row pt-3">
                    <div class="headerSearch">
                    <div class="input-group border rounded-pill p-1">
                        <div class="input-group-prepend border-0">
                            <button id="button-addon4" type="button" class="btn btn-link text-info"><i class="fa fa-search"></i></button>
                        </div>
                        <input type="search" name="q" placeholder="Where do you want to go?" autocomplete="off" aria-describedby="button-addon4" class="form-control bg-none border-0 search-box" style="background-color: transparent;" oninput="Search(event)">
                    </div>
                    <div class="list-group mt-0" id="result" style="display: none;"></div>
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock %}

{% block body %}
<div class="container">
    
    <!-- Website Advantages -->
    <div class="row feature-container mt-3">
        <div class="feature col-lg-4">
            <img class="icon" src="{% static 'booking/img/globe.png' %}" alt="globe">
            <div class="desc mt-2">
                <h5>A World of Possibilities</h5>
                <p class="lead">Discover activities across Indonesia</p>
            </div>
        </div>
        <div class="feature col-lg-4">
            <img class="icon" src="{% static 'booking/img/badge.png' %}" alt="globe">
            <div class="desc mt-2">
                <h5>Best Price Guaranteed</h5>
                <p class="lead">On 1000+ activities and more</p>
            </div>
        </div>
        <div class="feature col-lg-4">
            <img class="icon" src="{% static 'booking/img/calendar.png' %}" alt="globe">
            <div class="desc mt-2">
                <h5>Seamless Booking</h5>
                <p class="lead">Easy and secure reservation process</p>
            </div>
        </div>
    </div>

    <!-- Top Destinations -->
    <div class="row mt-3">
        <div class="my-5 text-center container">
            <div class="row mb-2">
                <div class="col text-center">
                    <h1 class="title">Incredible Destinations</h1>
                    <p class="lead">Explore stunning places all around Indonesia</p>
                </div>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-1 d-flex align-items-center justify-content-center">
                    <a href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <div class="carousel-nav-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path
                                    d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z" />
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="col-10">
                    <!--Start carousel-->
                    <div id="carouselExampleIndicators" class="carousel slide destinations-carousel" data-ride="carousel">
        
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    {% for destination in destinations_1 %}
                                    <div style="background-image:url('{{ destination.image_url }}');"
                                        class="col-12 col-md d-flex align-items-center justify-content-center">
                                        <h3 class="text-white">{{ destination.name }}</h3>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    {% for destination in destinations_2 %}
                                    <div style="background-image:url('{{ destination.image_url }}');"
                                        class="col-12 col-md d-flex align-items-center justify-content-center">
                                        <h3 class="text-white">{{ destination.name }}</h3>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End carousel-->
                </div>
                <div class="col-1 d-flex align-items-center justify-content-center"><a href="#carouselExampleIndicators"
                        data-slide="next">
                        <div class="carousel-nav-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path
                                    d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Top Things To Do -->
    <div class="row mb-2 mt-5">
        <div class="col text-center">
            <h1 class="title">Top Things To Do</h1>
            <p class="lead">Incredible experiences wherever you are</p>
        </div>
    </div>
    <div class="row mt-3">
        {% for listing in listings %}
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 d-flex align-items-stretch">
            <div class="listing-item card bg-white rounded">
                <img src="{{ listing.image_url }}" class="img-fluid card-img-top">
                <div class="card-body px-4 pt-4 pb-1">
                    <h6> <a href="{% url 'catalog_item' listing.id %}" class="text-dark stretched-link">{{ listing.title }}</a></h6>
                </div>
                <div class="card-footer">
                     <div class="d-flex align-items-center justify-content-between rounded-pill bg-light pl-2">
                        <p class="location lead mb-0"><i class="icon fas fa-map-marker-alt"></i><span> {{ listing.location }}</span></p>
                        <div class="badge badge-danger px-3 py-2 rounded-pill font-weight-normal font-weight-bold">${{ listing.price }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-12 text-center mt-4">
            <a href="{% url 'catalog' %}"><button class="btn btn-outline-dark">View All Activities</button></a>
        </div>
    </div>
    <!-- /.row -->

    <!-- Featured Activity -->
    <div class="row featured-activity mt-5">
        <div class="section-padding col-lg-6">
            <h2 class="title">Featured Activity</h2>
            <h3>One Day Nusa Penida Trip</h3>
            <p class="lead">Embark on a Nusa Penida day trip from Bali and enjoy a full day of adventure and breathtaking views.</p>
            <ul>
                <li>Make a stop at <strong>Kelingking Beach</strong> and have your photo taken with the famed T-Rex shaped cliffs as your backdrop</li>
                <li>Get a chance to swim the crystal clear emerald waters of the island’s natural infinity pool, <strong>Angel Billabong</strong></li>
                <li>Travel to the East and South side of the island to visit the famous <strong>Diamond and Tembeling Beach</strong></li>
            </ul>
            <div class="text-center mt-4">
                <a class="btn btn-outline-dark" href="{% url 'catalog_item' 1 %}" role="button">View Details</a>
            </div>
        </div>
        <div class="section-padding col-lg-6">
            <div class="hover hover-2 text-white rounded"><img
                    src="http://dmgupcwbwy0wl.cloudfront.net/system/images/000/198/469/30ab9203cecf921b742fcf373bcc7423/original/Kelingking-Secret-Point-at-Penida-Island.jpg?1550644703" alt="">
                <div class="hover-overlay"></div>
                <div class="hover-2-content px-5 py-4">
                    <h3 class="hover-2-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">Nusa
                        </span>Penida</h3>
                    <p class="hover-2-description text-uppercase mb-0">The famous T-Rex shaped cliffscape at Kelingking Beach</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    
    <hr class="section-padding">

    <!-- Call to Action Section -->
    <div class="row mb-4">
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti
                beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
        </div>
    </div>

</div> 
<!-- /.container -->

{% endblock %}