{% extends 'booking/layout.html' %}

{% block header %}
    {% include 'booking/header.html' %}    
{% endblock %}

{% block headerText %}
<div class="headerWrapper">
    <div class="container">
        <div class="header-title">Yours To Explore</div>
        <div class="header-subtitle">Discover and book amazing activities at exclusive price</div>

        <form action="">
            <div class="row pt-3">
                <div class="col-lg-8 offset-lg-2">
                    <div class="input-group mb-4 border rounded-pill p-1">
                        <div class="input-group-prepend border-0">
                            <button id="button-addon4" type="button" class="btn btn-link text-info"><i class="fa fa-search"></i></button>
                        </div>
                        <input type="search" placeholder="Where do you want to go?" aria-describedby="button-addon4" class="form-control bg-none border-0" style="background-color: transparent; color: white;">
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock %}

{% block searchbar %}
<!-- <div id="searchWrapper">
    <div id="homeSearch" class="container shadow">
        <form action="">
            <div class="row" style="height: 20px; border-bottom: 1px solid grey;">

            </div>
            <div class="row">
                <div class="input-group mb-4 border rounded-pill p-1">
                    <div class="input-group-prepend border-0">
                        <button id="button-addon4" type="button" class="btn btn-link text-info"><i class="fa fa-search"></i></button>
                    </div>
                    <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon4" class="form-control bg-none border-0">
                </div>
            </div>
        </form>
   </div>
</div> -->
{% endblock  %}

{% block body %}
<div class="container">
        
    <!-- Popular Listings -->
    <div class="row">
        <div class="col-lg-12 pb-3">
            <h2>Popular</h2>
        </div>
        {% for listing in listings %}
        <div class="col-lg-3 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="{{ listing.image_url }}" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                    <p class="card-text card-desc">{{ listing.description }}</p>
                </div>
                <div class="card-footer">
                    Rp {{ listing.price }}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-12 text-center">
            <a href="{% url 'catalog' %}"><button class="btn btn-primary">View All</button></a>
        </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-6">
            <h2>Modern Business Features</h2>
            <p>The Modern Business template by Start Bootstrap includes:</p>
            <ul>
                <li>
                    <strong>Bootstrap v4</strong>
                </li>
                <li>jQuery</li>
                <li>Font Awesome</li>
                <li>Working contact form with validation</li>
                <li>Unstyled page elements for easy customization</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id
                reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum
                ducimus unde.</p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
        </div>
    </div>
    <!-- /.row -->
    
    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti
                beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
        </div>
    </div>

</div> 
<!-- /.container -->

{% endblock %}