{% extends "booking/layout.html" %}

{% block body %}

    <div class="container main bg-white">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-3">
                <h2 class="text-center mb-4">Login</h2>
                {% if message %}
                    <div>{{ message }}</div>
                {% endif %}
            
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="text-center">
                        <input class="btn btn-primary" type="submit" value="Login">
                    </div>
                </form>
                <br>
                <div class="text-center">
                    Don't have an account? <a href="{% url 'register' %}">Register here.</a>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}