<nav class="navbar fixed-top navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"><strong>TRAVORA</strong></a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-uppercase font-weight-bold" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Destinations
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        {% for destination in destinations %}
                            <a class="dropdown-item" href="#">{{ destination.name }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link text-uppercase font-weight-bold" href="services.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link text-uppercase font-weight-bold" href="services.html">About</a></li>
                
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link text-uppercase font-weight-bold" href="{% url 'cart' %}"> <i class="fas fa-dolly-flatbed mr-1 text-gray"></i>Cart <small class="font-weight-normal">({{ order.get_cart_items }})</small></a></li>
                <li class="nav-item"><a class="nav-link text-uppercase font-weight-bold" href="{% url 'logout' %}"> <i class="fas fa-user-alt mr-1 text-gray"></i>Logout</a></li>

                {% else %}
                <li class="nav-item"><a class="nav-link text-uppercase font-weight-bold" href="{% url 'register' %}">Register</a></li>
                <li class="nav-item"><a class="nav-link text-uppercase font-weight-bold" href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>