:root { 
  --primary-yellow: #ffc107; 
  --secondary-yellow: #dcb14a; 
}

html {
  height: 100%;
}

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}



/*
*
* ==========================================
*                NAVBAR
* ==========================================
*
*/
.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .navbar-brand {
  color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}

/*
*
* ==========================================
*                HEADER
* ==========================================
*
*/

.carousel-item {
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.index-header .carousel-item {
  height: 100vh;
}

.index-header-wrapper {
  background-color: transparent;
  color: white;
  text-align: center;

  position: relative;
  z-index: 20;
  top: -65vh;
  width: 80vw;
  margin: 0px auto -25vh auto;
}

.header-wrapper {
  background-color: transparent;
  color: white;
  text-align: center;

  position: relative;
  z-index: 20;
  top: -33vh;
  width: 80vw;
  margin: 0px auto -10vh auto;
}

.index-header-wrapper .header-title {
  font-size: 5vw;
}

.header-title {
  font-size: 4vw;
  font-weight: 700;
  text-shadow: 2px 2px 2px grey;
}

.index-header-wrapper .header-subtitle {
  font-size: 1.7vw;
  font-weight: 400;
  text-shadow: 2px 2px 2px grey;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 500px;
}

/*
*
* ==========================================
*                SEARCH BAR
* ==========================================
*
*/

.headerSearch {
  width: 50vw;
  margin: 0px auto 0px auto;
}

#searchWrapper {
  position: relative;
  top: -180px;
  z-index: 10;
  background-color: transparent;
  width: 100%;
}

.headerSearch input::-webkit-input-placeholder {
  color: white !important;
}

.headerSearch .form-control {
  color: white;
}

/* remove blue outline on search bar */
.headerSearch .form-control:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.image-parent {
  width: 100px;
  object-fit: cover;
}

#result .list-group-item {
  height: 85px;
}

/* With arrow tabs */

.with-arrow .nav-link.active {
  position: relative;
}

.with-arrow .nav-link.active::after {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--primary-yellow);
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

/* lined tabs */

.lined .nav-link {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link:hover {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link.active {
  background: none;
  color: var(--primary-yellow);
  border-color: var(--primary-yellow);
}

.nav-item a {
  color: #888;
}
.nav-item a:hover,
.nav-item a:focus {
  color: var(--primary-yellow);
  text-decoration: none;
}


/* FOOTER  */
footer {
  margin-top: auto;
}

/*
*
* ==========================================
*               HOMEPAGE
* ==========================================
*
*/

/* WEBSITE FEATURES */

.feature {
  display: flex;
}

.feature .icon {
  width: 64px;
  height: 64px;
}

.feature .desc p {
  font-size: 17px;
}

/* TOP DESTINATIONS  */
.carousel-nav-icon {
  height: 48px;
  width: 48px;
}

.destinations-carousel .carousel-item .col,
.destinations-carousel .carousel-item .col-sm,
.destinations-carousel .carousel-item .col-md {
  margin: 8px;
  height: 300px;
  background-size: cover;
  background-position: center center;
}

.text-white-shadow {
  color: white;
  text-shadow: 2px 2px 2px #888;
}

.text-white-shadow:hover {
  padding-bottom: 10px;
}

.hover-fx {
  transition: .5s;
}

.hover-fx:hover {
  color: white;
  text-shadow: 2px 2px 2px #888;
  opacity: 0.8;
  margin-top: 5vh;
  margin-bottom: 2vh;
  transition: all .5s;
}

/* SECTION HEADER */
.title {
  font-weight: 700;
  /* height: 34px; */
}

@media (min-width: 992px) {
  .section-padding {
    margin-top: 72px;
  }
}

/*
* CARD
*/

.listing-item {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.listing-item:hover {
  border: none;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.listing-item a {
  color: black;
  text-decoration: none;
}

.listing-item .card-footer {
  border: none;
  background-color: white;
}

.card-img-top {
  border-top-left-radius: calc(0 - 1px);
  border-top-right-radius: calc(0 - 1px);
  width: 100%;
  height: 150px;
  object-fit: cover;
  border: none;
}

@media (max-width: 992px) {
  .card-img-top {
    height: 40vh;
  }
}

.card-footer .lead,
.card-footer .icon {
  font-size: 15px;
  margin: 0px;
}

/* IMAGE HOVER */
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 97%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}

.hover-2 .hover-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
}

.hover-2-title {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 99;
  transition: all 0.3s;
}

.hover-2-description {
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 0;
  text-align: center;
  z-index: 99;
  transition: all 0.3s;
}

.hover-2:hover .hover-2-title {
  transform: translateY(-1.5rem);
}

.hover-2:hover .hover-2-description {
  bottom: 1.5rem;
  opacity: 1;
}

.hover-2:hover .hover-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
}

/*
*
* ==========================================
*               ALL CATALOG
* ==========================================
*
*/

/* HEADER  */
.catalog-header .carousel-item {
  height: 50vh;
}

@media (min-width: 992px) {
  #filteredCatalog {
    padding-bottom: 300px;
  }
}

/*
*
* ==========================================
*               CATALOG ITEM
* ==========================================
*
*/

/* ITEM PICTURE */
.item-picture .carousel-item {
  border-radius: 3px;
}

.item-desc {
  white-space: pre-wrap;
}

@media (min-width: 992px) {
  .item-picture {
    margin-top: 100px;
  }

  .item-picture .carousel-item {
    height: 65vh;
  }
}

/*
 * BREADCRUMB
 */

.breadcrumb {
  background: none;
  padding-left: 0px;
}

.breadcrumb-item {
  font-size: 0.85rem;
  letter-spacing: 0.07em;
  font-weight: 500;
  color: #111111;
}

.breadcrumb-item a {
  color: inherit;
  transition: all 0.3s;
}

.breadcrumb-item a:hover,
.breadcrumb-item a:focus {
  color: #dcb14a;
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #aaa;
}

/* BOOKING SIDEBAR */
@media (min-width: 992px) {
  .booking-sidebar {
    padding-top: 175px;
  }
}

/* DATEPICKER */

.datepicker td,
.datepicker th {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.85rem;
}

.datepicker {
  margin-bottom: 3rem;
}

.datepicker-dropdown {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* RELATED LISTINGS */

@media (min-width: 992px) {
  .related-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .related-listings .hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 105px;
  }
}

/*
*
* ==========================================
*                PROFILE
* ==========================================
*
*/
.profile {
  text-align: center;
  padding: 50px 15px 50px 15px;
}

.profile img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* Menu */
.acc-sidebar .list-group-item {
  border: none;
}

.acc-sidebar .list-group-item:focus {
  outline: none !important;
  background-color: #e9ecef;
}

.icon {
  font-size: 20px;
  margin-right: 15px;
}

/* Account Sidebar */
.acc-sidebar {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

/* Account Content */
.booked-item {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  padding: 15px 50px 15px 50px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.booked-item:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.booked-item img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.bold-black {
  font-weight: 700;
  font-size: 18px;
}

.bold-green {
  font-weight: 600;
  font-size: 17px;
  color: green;
}

/* Borders */
.border-bottom {
  border-bottom: 1px solid grey;
}

.border-right {
  border-right: 1px solid grey;
}

/*
*
* ==========================================
*                  CART
* ==========================================
*
*/
.quantity {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-family: inherit;
}

.quantity input {
  width: 2rem;
  text-align: center;
}

.quantity button {
  background: none;
  border: none;
  width: 1rem;
  outline: none;
}

.cart-image {
  width: 150px;
  height: 100px;
  object-fit: cover;
}
/* Other */

.reset-anchor {
  color: inherit;
  transition: all 0.3s;
}

.reset-anchor:hover,
.reset-anchor:focus {
  text-decoration: none;
  color: inherit;
}

.asteriskField {
  display: none;
}

.hidden {
  display: none;
}

.navbar-padding {
  padding-top: 56px;
}

.letter-spacing {
  letter-spacing: 0.07em;
}

/* =================
      MEDIA QUERY
==================== */

@media (max-width: 991.98px) {
  /* Change navbar styling on small viewports */
  body {
    padding-top: 56px;
  }

  .navbar {
    background: #fff;
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #555;
  }

  .index-header .carousel-item {
    height: 50vh;
  }

  .index-header-wrapper {
    top: -35vh;
    width: 90vw;
    margin: 0px auto -3vh auto;
  }
}
