html {
  height: 100%;
}

body {
    padding-top: 56px;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
  }
  
.row {
  padding-top: 30px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

/* ==================
     CARD
================= */
.card-desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

footer {
  margin-top: auto;
}

/* =================
      MEDIA QUERY
==================== */

/* @media (min-width: 1000px) {
  .container-fluid{
    width: 1150px;
  }
} */

/* @media (min-width: 1500px) {
    .container{
      width: 1000px;
    }
  } */